body {
    font-family: Arial, Helvetica, sans-serif;
    color: wheat;
    background-color: tan;
    padding: 20px;
}

header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; 
}


footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 10px 0; 
    background-color: transparent; 
}

.post {
    flex: 0 1 calc(33.333% - 20px); 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    background-color: #fff; 
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

}

.post article {
    margin-bottom: 1rem;
}

.post header h2 {
    margin: 0;
    color: #333;
}

.post-content {
    color: #333;
}

.post-footer {
    font-style: italic;
    color: #666;
    text-align: right;
}

#postsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
}

@media (max-width: 768px) {
    .post {
        flex: 0 1 calc(50% - 20px); 
    }
}

@media (max-width: 480px) {
    .post {
        flex: 0 1 100%; 
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
    box-sizing: border-box; 
}