h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #333
}

.form-container { 
    background-color: teal;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;  
}
.form-container form {
    display: flex;
    flex-direction: column;
}
input[type="text"],
input[type="email"],
textarea {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: tan;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

button#light/dark {
    padding: 10px 20px;
    background-color: #333;
    color: #333;
    border: solid;
    border-radius: 5px;
}

button#backButton {
    padding: 10px 20px;
    background-color: white;
    color: #333;
    border: solid;
    border-radius: 5px;
}
button[type="submit"] {
    background-color: #0056b3;
    color: white;
    padding: 0.75rem;
    border: solid;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    transition: ease;
}

footer {
    margin-bottom: 20px;
    color: #fff;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.dark-theme buttonlightDark {
    background-color: black;
    color: #fff;
}
